<header id="site-header" class="lg:px-10 px-5 site-header header relative  " role="banner" itemscope=""
    itemtype="http://schema.org/WPHeader">

    <div
        class="px-0 lg:py-5 header__inner flex items-center justify-between h-inherit w-full relative max-w-screen-2xl mx-auto border-b border-[#0080EA]">

        <div class="header__extras hidden">
        </div>

        <div class="header__title-nav flex items-center flex-nowrap flex-none order-none">

            <div class="header__titles lg:flex items-center" itemscope="" itemtype="http://schema.org/Organization">
                <h1 class="custom-logo"><a href="/" class="custom-logo-link" rel="home"
                        aria-current="page"><img width="227" height="36" src="assets/images/logo-play25.webp" class="custom-logo"
                            alt="crickexbrand" decoding="async"></a></h1>
            </div>

        </div>
        <div class="flex items-center gap-6">
            <div class="button-group flex items-center lg:gap-4 gap-2">
                <div class="skew-1 bg-red lg:px-9 px-3 lg:py-1.5 py-1 lg:w-44 w-24 font-bold text-center">
                    <div class="skew-2">
                        <a class="join-now text-monda text-white lg:text-lg text-[14px] text-center whitespace-nowrap"
                            href="https://www.play25.live/#/dash" target="_blank">
                            Join Now
                        </a>
                    </div>
                </div>
                <div class="skew-1 bg-green lg:px-9 px-3 lg:py-1.5 py-1 lg:w-44 w-24 font-bold text-center">
                    <div class="skew-2">
                        <a class="login text-monda text-white lg:text-lg text-[14px] text-center whitespace-nowrap"
                            href="https://www.play25.live/#/dash" target="_blank">
                            Login
                        </a>
                    </div>
                </div>
            </div>
            <div class="social-icons lg:flex items-center hidden">
                <a class="w-14 h-14" *ngIf="respData?.TWITTER" [href]="respData.TWITTER"target="_blank">
                    <img src="assets/images/icons/twitter.png"
                       alt="footer-logo.png">
                </a>
                <a class="w-14 h-14"*ngIf="respData?.FACEBOOK" [href]="respData.FACEBOOK" target="_blank">
                    <img src="assets/images/icons/facebook.png"
                       alt="footer-logo.png">
                </a>
                <a class="w-14 h-14"  *ngIf="respData?.INSTAGRAM" [href]="respData.INSTAGRAM" target="_blank">
                    <img src="assets/images/icons/instagram.png"
                       alt="footer-logo.png">
                </a>
                <a class="w-14 h-14" *ngIf="respData?.TELEGRAM" [href]="respData.TELEGRAM" target="_blank">
                    <img src="assets/images/icons/telegram.png"
                       alt="footer-logo.png">
                </a>
            </div>
        </div>


        <div class="header__nav-toggle">
            <button id="nav-toggle" class="nav-toggle" type="button" aria-controls="header__navigation">
                <div class="nav-toggle-icon">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m3.23076923 15.4615385c-1.78430492 0-3.23076923-1.4464647-3.23076923-3.2307693 0-1.7843045 1.44646431-3.2307692 3.23076923-3.2307692s3.23076923 1.4464647 3.23076923 3.2307692c0 1.7843046-1.44646431 3.2307693-3.23076923 3.2307693zm8.76923077 0c-1.7843049 0-3.23076923-1.4464647-3.23076923-3.2307693 0-1.7843045 1.44646433-3.2307692 3.23076923-3.2307692s3.2307692 1.4464647 3.2307692 3.2307692c0 1.7843046-1.4464643 3.2307693-3.2307692 3.2307693zm8.7692308 0c-1.784305 0-3.2307693-1.4464647-3.2307693-3.2307693 0-1.7843045 1.4464643-3.2307692 3.2307693-3.2307692 1.7843049 0 3.2307692 1.4464647 3.2307692 3.2307692 0 1.7843046-1.4464643 3.2307693-3.2307692 3.2307693z">
                        </path>
                    </svg>
                </div>
                <div class="nav-toggle-icon nav-toggle-icon--close">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m21.2325621 4.63841899c.526819-.52681908.5246494-1.38313114-.0035241-1.9113046l.0438476.04384757c-.5287653-.52876531-1.3869798-.52784878-1.9113046-.00352402l-7.065629 7.06562899c-.1634497.16344977-.4265682.16533585-.591904 0l-7.06562901-7.06562899c-.52681908-.52681907-1.38313114-.52464944-1.9113046.00352402l.04384757-.04384757c-.52876531.52876532-.52784878 1.38697983-.00352402 1.9113046l7.06562899 7.06562901c.16344977.1634497.16533585.4265682 0 .591904l-7.06562899 7.065629c-.52681907.5268191-.52464944 1.3831311.00352402 1.9113046l-.04384757-.0438476c.52876532.5287654 1.38697983.5278488 1.9113046.0035241l7.06562901-7.065629c.1634497-.1634498.4265682-.1653359.591904 0l7.065629 7.065629c.5268191.526819 1.3831311.5246494 1.9113046-.0035241l-.0438476.0438476c.5287654-.5287653.5278488-1.3869798.0035241-1.9113046l-7.065629-7.065629c-.1634498-.1634497-.1653359-.4265682 0-.591904z"
                            fill-rule="evenodd"></path>
                    </svg>
                </div>
                <span class="screen-reader-text">Menu</span>
            </button>
        </div>


    </div>


</header>