<footer class="py-10 border-t border-[#fffff] bg-[#040E1B]/25">
    <div class="max-w-screen-2xl mx-auto px-10 flex lg:flex-row flex-col items-center justify-around">
        <img class="lg:mb-0 mb-6" src="assets/images/logo-play25.webp" alt="" style="    width: 159px;">
        <p class="lg:block hidden text-monda text-white text-base">© 2025 Play25 Copyrights.  <br> All Rights Reserved  </p>
        <div>
            <a href="/" target="_blank"><p class="text-monda text-white text-base underline underline-offset-4 lg:text-left text-center lg:mb-0 mb-6">Registration </p></a>
            <a href="/" target="_blank"><p class="text-monda text-white text-base underline underline-offset-4 lg:text-left text-center lg:mb-0 mb-6"> Affiliate</p></a>
        </div>
        <div class="social-icons flex items-center lg:mb-0 mb-4">
                <a href="" target="_blank">
                    <img src="assets/images/icons/twitter-1.png" alt="twitter-1.png">
                </a>
                <a href="" target="_blank">
                    <img src="assets/images/icons/facebook-1.png" alt="facebook-1.png">
                </a>
                <a href="" target="_blank">
                    <img src="assets/images/icons/instagram-1.png" alt="instagram-1.png">
                </a>
                <a href="" target="_blank">
                    <img src="assets/images/icons/telegram2.png" alt="telegram2.png">
                </a>
            </div>
            <p class="lg:block hidden text-monda text-white text-base">Responsible <br> gaming: </p>
            <p class="lg:hidden text-monda text-white text-base mb-6">Responsible Gaming</p>
            <div class="gaming-icons flex items-center gap-5 lg:mb-0 mb-6">
                <img src="assets/images/icons/gamcare.png" alt="gamcare.png">
                <img src="assets/images/icons/hand.png" alt="hand.png">
                <img src="assets/images/icons/18.png" alt="18.png">
            </div>
            <p class="lg:hidden text-monda text-white text-base text-center">© 2025 Play25 Copyrights.  <br> All Rights Reserved  </p>
    </div>
</footer>