<div class="section-banner max-w-screen-2xl px-10 mx-auto pt-[38px] relative">
	<div class="lg:flex">
		<div class="lg:w-2/4 lg:flex justify-end mr-28 hidden">
			<img src="assets/images/players-images/samonty-img1.webp" alt="Samonty Shoumi in side pose promoting Play25Brand">
		</div>
		<div class="lg:hidden justify-center flex">
			<img src="assets/images/players-images/samonty-img2.webp"
				alt="Elegant Samonty Shoumi representing trusted betting with Play25Brand">
		</div>
		<div class="lg:w-2/4 lg:mt-0 mt-[-170px] lg:text-left text-center">
			<p class="banner-heading text-monda text-white md:text-2xl text-lg font-semibold mb-6">INTRODUCING THE GEM
				OF BENGALI CINEMA <br> BRAND AMBASSADOR</p>
			<h1 class="text-mazzard text-green md:text-8xl text-5xl uppercase italic tracking-wide">Samonty Shoumi</h1>
			<p class="text-inter text-white text-base md:font-semibold tracking-wide  lg:line-clamp-none ">Samonty Shoumi (born 08 January 1994) is a Bangladeshi Model and Actress famous for Bangla Drama and Social media Appearances. She began as a model and gradually moved into acting (TV dramas, telefilms, web series) in Bangladesh.</p>


		</div>
	</div>
	<a class="absolute left-4 lg:top-[55%] top-[40%] lg:w-[40px] w-[30px]" [routerLink]="['/maira-shanto']"><img
			class="animate-bounce-x" src="assets/images/icons/Vector.png" alt="" loading="lazy"></a>
	<a class="absolute right-2 lg:top-[55%] top-[40%] lg:w-[40px] w-[30px]" [routerLink]="['/anika-kabir-shokh']"><img class="animate-bounce-x"
			src="assets/images/icons/Vector-1.png" alt="" loading="lazy"></a>
</div>

<section class="lg:mt-[-20px] lg:ml-[-28px] lg:mr-[-28px] bg-body">
	<div class="lg:grid grid-cols-2">
		<div class="lg:block hidden bg-green skew-1">
		</div>
		<div class="bg-primary skew-1 sm-skew-0 lg:px-12 min-h-[265px] flex items-center justify-center">
			<div class="lg:block grid grid-cols-2 skew-2 sm-skew-0 lg:max-w-[600px]">
				<div class="lg:hidden flex justify-start items-end">
					<img src="assets/images/players-images/samonty-img5.webp"
						alt="Samonty Shoumi in side pose promoting Play25Brand" class="md:w-[60%]" loading="lazy">
				</div>
				<div class="lg:py-0 py-5 lg:pr-0 pr-3">
					<p class="lg:block hidden text-irinac text-white text-base text-justify">"Joining Play25 is truly exciting for me. The platform’s journey and accomplishments resonate strongly with my own ambitions, making this partnership feel both meaningful and inspiring."</p>
					<p class="lg:hidden block text-irinac text-white md:text-xl text-[14px] text-justify">"Joining Play25 is truly exciting for me. The platform’s journey and accomplishments resonate strongly with my own ambitions, making this partnership feel both meaningful and inspiring."</p>
					<div class="flex justify-end">
						<img src="assets/images/players-images/samonty-sign.webp" alt="" loading="lazy">
					</div>
				</div>
			</div>
		</div>
		<div
			class="lg:block hidden skew-1 bg-[url(https://crickexbrand.com/wp-content/uploads/2023/08/saintlucia-box3-bg.png)] bg-no-repeat bg-cover">
			<div class="lg:flex justify-center skew-2 mt-[-42rem] lg:mr-[55px] pointer-events-none">
				<img src="assets/images/players-images/samonty-img2.webp" alt="" class="" loading="lazy"
					style="height: 64.1rem;">
			</div>
		</div>
		<div class="bg-green skew-1 sm-skew-0 lg:px-10 px-5 lg:pt-10 lg:ml-[-56px] lg:min-h-[265px]"
			style="padding-top: 2.0rem;">
			<div class="flex lg:justify-start justify-center skew-2 sm-skew-0 lg:gap-14 lg:ml-10">
				<div class="lg:block hidden">
					<img src="assets/images/players-images/samonty-img4.webp"
						alt="Trusted mobile betting experience with Samonty Shoumi" class="w-[177px]" loading="lazy"
						style="
    width: 250px;
    height: 322px;
">
				</div>
				<div class="lg:py-0 py-3 flex flex-col justify-center">
					<p class="text-blue md:text-base text-sm uppercase font-semibold text-monda">DATE OF BIRTH </p>
					<p class="text-monda text-blue md:text-base text-sm mb-5">08 January</p>
					<p class="text-blue md:text-base text-sm uppercase font-semibold text-monda">HEIGHT</p>
					<p class="text-monda text-blue md:text-base text-sm mb-5">1.73 METERS</p>
					<p class="text-blue md:text-base text-sm uppercase font-semibold text-monda">PROFESSION </p>
					<p class="text-monda text-blue md:text-base text-sm">BANGLADESHI ACTRESS, SOCIAL MEDIA INFLUENCER, AND MODEL</p>
				</div>
				<div class="lg:hidden flex items-end">
					<img src="assets/images/players-images/samonty-img4.webp"
						alt="Trusted mobile betting experience with Samonty Shoumi" class="md:w-[60%] w-full"
						loading="lazy" style="
    /* width: 274px;
    height: 321px; */
">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ml-[-28px] mr-[-28px] bg-body">
	<div class="lg:grid grid-cols-2 mb-14">
		<div class="bg-primary skew-1 p-5 flex items-center lg:min-h-[170px] lg:w-full w-fit">
			<div class="skew-2 flex items-center gap-5 lg:ml-[70px] ml-5">
				<img src="" alt="">
				<p class="text-monda text-white lg:text-xl text-base uppercase">Award / Achievements</p>
			</div>
		</div>
		<div class="lg:block hidden ml-[-103px] skew-1 bg-body">
		</div>
	</div>
	<div class="max-w-screen-xl main-div relative mx-auto">
		<div class="flex justify-center lg:gap-10 lg:pb-10 pb-5">
			<div class="skew-1 bg-quaternary lg:px-8 px-10 lg:py-6 py-3 w-[36rem] min-h-[76px]">
				<p class="skew-2 text-white text-monda lg:text-lg text-[14px] font-semibold">She was appointed as a brand ambassador for HEYVIP.LIVE (a streaming/gaming platform) in June 2025.</p>
			</div>
			<div class="skew-1 bg-secondary lg:px-8 px-8 lg:py-6 py-3 w-[36rem] min-h-[76px]">
				<p class="skew-2 text-white text-monda lg:text-lg text-[14px] font-medium">Bangladesh's Most Stylish Model Award - 2025</p>
			</div>
		</div>
		<div class="flex justify-center lg:gap-10 lg:pb-10 pb-5">
			<div class="skew-1 bg-quaternary lg:px-8 px-10 lg:py-6 py-3 w-[36rem] min-h-[76px]">
				<p class="skew-2 text-white text-monda lg:text-lg text-[14px] font-semibold">Global Star Award 2024 – Best Promising Actress
				</p>
			</div>

		</div>
		<img class="lg:block hidden absolute top-[-70px] right-20 w-[245px]" src="" alt="">
		<img class="lg:hidden block absolute bottom-[-200px] right-[26px] w-[150px] z-[1]" src="" alt="">
	</div>
</section>

<section
	class="ml-[-28px] mr-[-28px] bg-body bg-[url(https://crickexbrand.com/wp-content/uploads/2023/08/Bg_image.png)] bg-cover">
	<div class="domestic-team lg:grid grid-cols-2 mb-14 pt-4">
		<div class="bg-primary skew-1 p-5 flex items-center lg:min-h-[170px] w-[85%]">
			<div class="skew-2 flex items-center gap-5 lg:ml-[70px] ml-[20px]">
				<img src="" alt="">
				<p class="text-monda text-white text-xl uppercase">Debut National &amp; International <br> Movie &amp;
					Host</p>
			</div>
		</div>
		<div class="lg:block hidden skew-1 bg-transparent">
		</div>
	</div>
	<div class="domestic-team-table lg:grid grid-cols-2 gap-10">
		<div class="lg:mt-[-9rem] relative">
			<img class="lg:w-full w-[80%]" src="assets/images/players-images/samonty-img3.webp"
				alt="Samonty Shoumi using Play25Brand mobile betting app" loading="lazy">
		</div>
		<div class="grid grid-cols-2 main-div lg:w-5/6 lg:mt-0 mt-8">
			<div class="flex justify-start skew-1 bg-secondary pl-9 py-3 mb-5">
				<img class="h-5 mr-5 mt-1" src="assets/images/icons/Frame-36.png" alt="" loading="lazy">
				<div class="skew-2">
					<p class="text-monda lg:text-lg text-[14px] text-green font-semibold mb-2">Social Media Presence</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">TikTok, Instagram, Facebook, and
						other platforms where she creates content.</p>

				</div>
			</div>
			<div class="flex justify-start skew-1 bg-secondary pl-9 py-3 mb-5">
				<img class="h-5 mr-5 mt-1" src="assets/images/icons/Frame-36.png" alt="" loading="lazy">
				<div class="skew-2">
					<p class="text-monda lg:text-lg text-[14px] text-green font-semibold mb-2">Films</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">Meghna Konnya (2024).</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">Ex Jokhon Dulabhai (2023).</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">Mirza-Chapter: Club 29 (2025).</p>
				</div>
			</div>
			<div class="flex justify-start skew-1 bg-secondary pl-9 py-3 mb-5">
				<img class="h-5 mr-5 mt-1" src="assets/images/icons/Frame-36.png" alt="" loading="lazy">
				<div class="skew-2">
					<p class="text-monda lg:text-lg text-[14px] text-green font-semibold mb-2">TV commercials
					</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">HEYVIP.LIVE</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">LYEV Beverly Hills Aesthetics</p>

				</div>
			</div>
			<div class="flex justify-start skew-1 bg-secondary pl-9 py-3 mb-5">
				<img class="h-5 mr-5 mt-1" src="assets/images/icons/Frame-36.png" alt="" loading="lazy">
				<div class="skew-2">
					<p class="text-monda lg:text-lg text-[14px] text-green font-semibold mb-2">Advertisement</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">Fashion & Lifestyle Ads</p>
					<p class="text-white text-monda lg:text-lg text-[14px] font-medium">Food & Beverage / Consumer Products</p>

				</div>
			</div>


		</div>
	</div>
	<div class="slogan py-14 flex flex-col items-center">
		<div class="flex lg:flex-row flex-col justify-center items-center">
			<p class="text-mazzard lg:text-[4.8rem] text-6xl text-green font-semibold italic uppercase lg:mb-0 mb-4">
				Explore</p>
			<img class="ml-7 mr-5 mt-[-10px] lg:w-full w-[72%] lg:mb-0 mb-4" src="assets/images/logo-play25.webp" alt=""
				style="width: 270px;" loading="lazy">
			<p class="text-mazzard lg:text-[4.8rem] text-6xl text-green font-semibold italic uppercase">World</p>
		</div>
		<div class="skew-1 bg-green px-9 py-5 font-bold lg:w-[350px] text-center mt-6">
			<div class="skew-2">
				<a class="text-monda text-blue text-xl" href="https://www.play25.live/#/dash" target="_blank">
					Let's Go!
				</a>
			</div>
		</div>
	</div>

	<div class="max-w-5xl max-w-5xll mx-auto px-5" appIntersectionObserver>

		<video class="w-full lg:h-[30rem] h-[20rem]" controls poster="" playsinline autoplay #videoPlayer
			(loadedmetadata)=onVideoLoad(videoPlayer)>
			<source src="assets/videos/samonty-video.mp4" type="video/mp4">

		</video>
	</div>

	<div>
		line1<br>
		line2 </div>

	<app-footer></app-footer>
</section>